.app {
  margin-top: 70px;
}
/* 
.app .ant-spin-dot-item {
  background-color: #000;
}

.app .ant-spin-dot-item {
  background-color: #000;
}

.app .ant-spin-dot-item {
  background-color: #000;
} */
